In [133]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [149]:
df = pd.read_csv("Survey Data.csv")

In [150]:
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [151]:
df = df.rename(columns={
    'How old are you?': 'Age',
    'What industry do you work in?': 'Industry',
    'If your job title needs additional context, please clarify here:': 'Job_title(add_content)',
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "Annual_Salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": 'Monetary_compensation',
    "Please indicate the currency": 'Currency',
    'If "Other," please indicate the currency here: ': 'Currency(if others)',
    "If your income needs additional context, please provide it here:": "income needs",
    "What country do you work in?": "job_country",
    "If you're in the U.S., what state do you work in?": "US(state_job)",
    "What city do you work in?":"city",
    "How many years of professional work experience do you have overall?": "Prof.Work_Experience(overall)",
    "How many years of professional work experience do you have in your field?": "Prof.Work_Experience(field only)",
    "What is your highest level of education completed?": "Highest_Level(Education)",
    "What is your gender?": "Gender",
    "What is your race? (Choose all that apply.)": "race"
})

In [152]:
df.head()

,Timestamp,Age,Industry,Job title,Job_title(add_content),Annual_Salary,Monetary_compensation,Currency,Currency(if others),income needs,job_country,US(state_job),city,Prof.Work_Experience(overall),Prof.Work_Experience(field only),Highest_Level(Education),Gender,race
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28037 entries, 0 to 28036
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Timestamp                         28037 non-null  object
 1   Age                               28037 non-null  object
 2   Industry                          28037 non-null  object
 3   Job title                         28036 non-null  object
 4   Job_title(add_content)            7318 non-null   object
 5   Annual_Salary                     28037 non-null  object
 6   Monetary_compensation             20776 non-null  object
 7   Currency                          28037 non-null  object
 8   Currency(if others)               274 non-null    object
 9   income needs                      3111 non-null   object
 10  job_country                       28037 non-null  object
 11  US(state_job)                     23040 non-null  object
 12  city                              27955 non-null  object
 13  Prof.Work_Experience(overall)     28037 non-null  object
 14  Prof.Work_Experience(field only)  28037 non-null  object
 15  Highest_Level(Education)          27822 non-null  object
 16  Gender                            27869 non-null  object
 17  race                              27864 non-null  object
dtypes: object(18)
memory usage: 3.9+ MB

In [154]:
df.isnull().sum()

Timestamp                               0
Age                                     0
Industry                                0
Job title                               1
Job_title(add_content)              20719
Annual_Salary                           0
Monetary_compensation                7261
Currency                                0
Currency(if others)                 27763
income needs                        24926
job_country                             0
US(state_job)                        4997
city                                   82
Prof.Work_Experience(overall)           0
Prof.Work_Experience(field only)        0
Highest_Level(Education)              215
Gender                                168
race                                  173
dtype: int64

In [155]:
df['Job title'].value_counts()

Job title
Software Engineer                 286
Project Manager                   230
Director                          198
Senior Software Engineer          196
Program Manager                   152
                                 ...
EAP counselor                       1
Director of Financial Planner       1
Residential Life Faculty            1
Workplace Operations Lead           1
DBA                                 1
Name: count, Length: 14333, dtype: int64

In [156]:
df['Monetary_compensation'] = df['Monetary_compensation'].fillna(df['Monetary_compensation'].mode()[0])

In [157]:
df['Job_title(add_content)'] = df['Job_title(add_content)'].fillna('others')
df['income needs'] = df['income needs'].fillna('others')
df['US(state_job)'] = df['US(state_job)'].fillna('California')
df['city'] = df['city'].fillna('Boston')
df['Highest_Level(Education)'] = df['Highest_Level(Education)'].fillna('College degree')
df['race'] = df['race'].fillna('White')
df['Currency(if others)'] = df['Currency(if others)'].fillna('others')
df['Job title'] = df['Job title'].fillna('Software Engineer')
df['Age'] = df['Age'].fillna('Woman')

df.isnull().sum()

Timestamp                             0
Age                                   0
Industry                              0
Job title                             0
Job_title(add_content)                0
Annual_Salary                         0
Monetary_compensation                 0
Currency                              0
Currency(if others)                   0
income needs                          0
job_country                           0
US(state_job)                         0
city                                  0
Prof.Work_Experience(overall)         0
Prof.Work_Experience(field only)      0
Highest_Level(Education)              0
Gender                              168
race                                  0
dtype: int64

In [158]:
df.head()

,Timestamp,Age,Industry,Job title,Job_title(add_content),Annual_Salary,Monetary_compensation,Currency,Currency(if others),income needs,job_country,US(state_job),city,Prof.Work_Experience(overall),Prof.Work_Experience(field only),Highest_Level(Education),Gender,race
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,others,"55,000",0,USD,others,others,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,others,"54,600",4000,GBP,others,others,United Kingdom,California,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,others,"34,000",0,USD,others,others,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,others,"62,000",3000,USD,others,others,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,others,"60,000",7000,USD,others,others,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [159]:
df['Gender']

0                                Woman
1                           Non-binary
2                                Woman
3                                Woman
4                                Woman
                     ...
28032                              Man
28033                              Man
28034                            Woman
28035                              NaN
28036    Other or prefer not to answer
Name: Gender, Length: 28037, dtype: object

In [160]:
df[['date','time']] = df['Timestamp'].str.split(' ', expand=True)
del df['Timestamp']

In [161]:
df.head()

,Age,Industry,Job title,Job_title(add_content),Annual_Salary,Monetary_compensation,Currency,Currency(if others),income needs,job_country,US(state_job),city,Prof.Work_Experience(overall),Prof.Work_Experience(field only),Highest_Level(Education),Gender,race,date,time
0,25-34,Education (Higher Education),Research and Instruction Librarian,others,"55,000",0,USD,others,others,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,4/27/2021,11:02
1,25-34,Computing or Tech,Change & Internal Communications Manager,others,"54,600",4000,GBP,others,others,United Kingdom,California,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,4/27/2021,11:02
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,others,"34,000",0,USD,others,others,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,4/27/2021,11:02
3,25-34,Nonprofits,Program Manager,others,"62,000",3000,USD,others,others,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,4/27/2021,11:02
4,25-34,"Accounting, Banking & Finance",Accounting Manager,others,"60,000",7000,USD,others,others,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,4/27/2021,11:02

In [172]:
df['Age'].value_counts()

Age
25-34         12643
35-44          9894
45-54          3187
18-24          1213
55-64           992
65 or over       94
under 18         14
Name: count, dtype: int64

In [118]:
df.to_csv("Cleaned_survey.csv", index = False)